<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btsoft.jf.cloud.platform.security.mapper.IEmployeeMapper">
	<resultMap id="sqlResultMap" type="com.btsoft.jf.cloud.platform.security.entity.EmployeeEntity">
		<result column="ENABLE_FLAG" property="enableFlag"/>
		<result column="CREATE_BY" property="createBy"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="LAST_UPDATE_BY" property="lastUpdateBy"/>
		<result column="LAST_UPDATE_DATE" property="lastUpdateDate"/>

		<result column="USER_ID" property="userId"/>
		<result column="EMPLOYEE_NO" property="employeeNo"/>
		<result column="EMPLOYEE_TYPE" property="employeeType"/>
		<result column="EMPLOYEE_STATUS" property="employeeStatus"/>
		<result column="EMPLOYEE_JOB" property="employeeJob"/>
		<result column="PARENT_ID" property="parentId"/>
		<result column="ENTRY_DATE" property="entryDate"/>
	</resultMap>

	<sql id="base_sql">
		SELECT
			T.USER_ID,
			T.EMPLOYEE_NO,
		    T.EMPLOYEE_TYPE,
		    T.EMPLOYEE_STATUS,
		    T.EMPLOYEE_JOB,
		    T.PARENT_ID,
			T.ENTRY_DATE,
			T.ENABLE_FLAG,
			T.CREATE_BY,
			T.CREATE_DATE,
			T.LAST_UPDATE_BY,
			T.LAST_UPDATE_DATE
		FROM SYS_EMPLOYEE_T T
	</sql>

	<sql id="base_condition">
		<trim prefix="WHERE" prefixOverrides="AND || OR">
		    T.ENABLE_FLAG='Y'
			<if test='vo.employeeType!=null'>
				AND T.EMPLOYEE_TYPE=#{vo.employeeType,jdbcType=NUMERIC}
			</if>
			<if test='vo.employeeStatus!=null'>
				AND T.EMPLOYEE_STATUS=#{vo.employeeStatus,jdbcType=NUMERIC}
			</if>
		</trim>
	</sql>

	<insert id="createSingle">
		INSERT INTO SYS_EMPLOYEE_T (
			USER_ID,
		    EMPLOYEE_TYPE,
		    EMPLOYEE_STATUS,
			EMPLOYEE_JOB,
		    PARENT_ID,
			ENTRY_DATE,
			CREATE_BY,
			LAST_UPDATE_BY
		)VALUES(
			#{vo.userId,jdbcType=NUMERIC},
			#{vo.employeeType,jdbcType=NUMERIC},
			#{vo.employeeStatus,jdbcType=NUMERIC},
			#{vo.employeeJob,jdbcType=NUMERIC},
			#{vo.parentId,jdbcType=NUMERIC},
			#{vo.entryDate},
			#{vo.currentUserId,jdbcType=NUMERIC},
			#{vo.currentUserId,jdbcType=NUMERIC}
		)
	</insert>

    <select id="findSingleById" resultMap="sqlResultMap">
        <include refid="base_sql"/>
        WHERE T.USER_ID=#{id,jdbcType=NUMERIC}
		  AND T.ENABLE_FLAG='Y'
    </select>

	<select id="findList" resultMap="sqlResultMap">
		<include refid="base_sql"/>
		<include refid="base_condition"/>
	</select>
	<select id="findEmployeeList" resultMap="sqlResultMap">
		<include refid="base_sql"/>
		<include refid="base_condition"/>
		<if test='vo.keywordField!=null and vo.keywordField!="" and
				vo.keywordValue!=null and vo.keywordValue!="" '>
			<if test='vo.keywordField=="userName"'>
				AND EXISTS(
				SELECT 1 FROM SYS_USER_T U WHERE U.USER_ID=T.USER_ID
				AND (U.USER_CN LIKE CONCAT('%',TRIM(#{vo.keywordValue,jdbcType=VARCHAR}),'%')
				OR U.USER_EN LIKE CONCAT('%',TRIM(#{vo.keywordValue,jdbcType=VARCHAR}),'%'))
				)
			</if>
		</if>
	</select>

	<update id="updateSingle">
		UPDATE SYS_EMPLOYEE_T T SET
			T.EMPLOYEE_TYPE=#{vo.employeeType,jdbcType=NUMERIC},
			T.EMPLOYEE_STATUS=#{vo.employeeStatus,jdbcType=NUMERIC},
			T.EMPLOYEE_JOB=#{vo.employeeJob,jdbcType=NUMERIC},
			T.PARENT_ID=#{vo.parentId,jdbcType=NUMERIC},
			T.ENTRY_DATE=#{vo.entryDate},
			T.LAST_UPDATE_BY=#{vo.currentUserId,jdbcType=NUMERIC},
			T.LAST_UPDATE_DATE=NOW()
		WHERE T.USER_ID=#{vo.userId,jdbcType=NUMERIC}
	</update>

</mapper>