<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btsoft.jf.cloud.platform.security.mapper.IGroupRoleMapper">
	<resultMap id="sqlResultMap" type="com.btsoft.jf.cloud.platform.security.entity.GroupRoleEntity">
		<result column="ENABLE_FLAG" property="enableFlag"/>
		<result column="CREATE_BY" property="createBy"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="LAST_UPDATE_BY" property="lastUpdateBy"/>
		<result column="LAST_UPDATE_DATE" property="lastUpdateDate"/>

		<result column="ID" property="id"/>
		<result column="GROUP_ID" property="groupId"/>
		<result column="ROLE_ID" property="roleId"/>
	</resultMap>

	<sql id="base_sql">
		SELECT
			T.ID,
			T.GROUP_ID,
			T.ROLE_ID,
			T.ENABLE_FLAG,
			T.CREATE_BY,
			T.CREATE_DATE,
			T.LAST_UPDATE_BY,
			T.LAST_UPDATE_DATE
		FROM SYS_GROUP_ROLE_RT T
	</sql>

	<sql id="base_condition">
		<trim prefix="WHERE" prefixOverrides="AND || OR">
			T.ENABLE_FLAG='Y'
			<if test='vo.groupId!=null'>
				AND T.GROUP_ID = #{vo.groupId,jdbcType=NUMERIC}
			</if>
			<if test='vo.roleId!=null'>
				AND T.ROLE_ID = #{vo.roleId,jdbcType=NUMERIC}
			</if>
		</trim>
	</sql>

	<insert id="createSingle">
		REPLACE INTO SYS_GROUP_ROLE_RT (
			GROUP_ID,
			ROLE_ID,
			CREATE_BY,
			LAST_UPDATE_BY
		)VALUES(
			#{vo.groupId,jdbcType=NUMERIC},
			#{vo.roleId,jdbcType=NUMERIC},
			#{vo.currentUserId,jdbcType=NUMERIC},
			#{vo.currentUserId,jdbcType=NUMERIC}
		)
	</insert>

	<insert id="createMultiple">
		REPLACE INTO SYS_GROUP_ROLE_RT (
			GROUP_ID,
			ROLE_ID,
			CREATE_BY,
			LAST_UPDATE_BY
		)VALUES
		<foreach collection="vo.list" item="item"  separator=",">
			(
				#{item.groupId,jdbcType=NUMERIC},
				#{item.roleId,jdbcType=NUMERIC},
				#{vo.currentUserId,jdbcType=NUMERIC},
				#{vo.currentUserId,jdbcType=NUMERIC}
			)
		</foreach>
	</insert>

	<delete id="deleteSingleById">
		DELETE FROM SYS_GROUP_ROLE_RT WHERE ID=#{id,jdbcType=NUMERIC}
	</delete>

	<select id="findList" resultMap="sqlResultMap">
		<include refid="base_sql"/>
		<include refid="base_condition"/>
	</select>

	<select id="findGroupRoleList" resultMap="sqlResultMap">
		<include refid="base_sql"/>
		<include refid="base_condition"/>
		<if test='vo.keywordField!=null and vo.keywordField!="" and
				vo.keywordValue!=null and vo.keywordValue!="" '>

				AND EXISTS(
					SELECT 1 FROM SYS_ROLE_T R WHERE R.ROLE_ID=T.ROLE_ID
					<if test='vo.keywordField=="roleName"'>
						AND R.ROLE_NAME
					</if>
					<if test='vo.keywordField=="roleCode"'>
						AND R.ROLE_CODE
					</if>
					<if test='vo.keywordField=="roleDesc"'>
						AND R.ROLE_DESC
					</if>
					LIKE CONCAT('%',TRIM(#{vo.keywordValue,jdbcType=VARCHAR}),'%')
			)
		</if>
	</select>
</mapper>