<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btsoft.jf.cloud.platform.security.mapper.IGroupUserMapper">
	<resultMap id="sqlResultMap" type="com.btsoft.jf.cloud.platform.security.entity.GroupUserEntity">
		<result column="ENABLE_FLAG" property="enableFlag"/>
		<result column="CREATE_BY" property="createBy"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="LAST_UPDATE_BY" property="lastUpdateBy"/>
		<result column="LAST_UPDATE_DATE" property="lastUpdateDate"/>
		<result column="APP_CODE" property="appCode"/>

		<result column="ID" property="id"/>
		<result column="GROUP_ID" property="groupId"/>
		<result column="USER_ID" property="userId"/>
		<result column="BEGIN_DATE" property="beginDate"/>
		<result column="END_DATE" property="endDate"/>
	</resultMap>

	<sql id="base_sql">
		SELECT
			T.ID,
			T.GROUP_ID,
			T.USER_ID,
		    T.BEGIN_DATE,
		    T.END_DATE,
			T.ENABLE_FLAG,
			T.CREATE_BY,
			T.CREATE_DATE,
			T.LAST_UPDATE_BY,
			T.LAST_UPDATE_DATE
		FROM SYS_GROUP_USER_RT T
	</sql>

	<sql id="base_condition">
		<trim prefix="WHERE" prefixOverrides="AND || OR">
			T.ENABLE_FLAG='Y'
			<if test='vo.groupId!=null'>
				AND T.GROUP_ID = #{vo.groupId,jdbcType=NUMERIC}
			</if>
			<if test='vo.userId!=null'>
				AND T.USER_ID = #{vo.userId,jdbcType=NUMERIC}
			</if>
		</trim>
	</sql>

	<insert id="createSingle">
		REPLACE INTO SYS_GROUP_USER_RT (
			GROUP_ID,
			USER_ID,
		    BEGIN_DATE,
		    END_DATE,
		    APP_CODE,
			CREATE_BY,
			LAST_UPDATE_BY
		)VALUES(
			#{vo.groupId,jdbcType=NUMERIC},
			#{vo.userId,jdbcType=NUMERIC},
			#{vo.beginDate},
			#{vo.endDate},
			#{vo.appCode,jdbcType=VARCHAR},
			#{vo.currentUserId,jdbcType=NUMERIC},
			#{vo.currentUserId,jdbcType=NUMERIC}
		)
	</insert>

	<delete id="deleteSingle">
		DELETE FROM SYS_GROUP_USER_RT WHERE ID=#{vo.id,jdbcType=NUMERIC}
	</delete>

	<select id="findList" resultMap="sqlResultMap">
		<include refid="base_sql"/>
		<include refid="base_condition"/>
	</select>

	<select id="findGroupUserList" resultMap="sqlResultMap">
		<include refid="base_sql"/>
		<include refid="base_condition"/>
		<if test='vo.keywordField!=null and vo.keywordField!="" and
				vo.keywordValue!=null and vo.keywordValue!="" '>
			<if test='vo.keywordField=="userName"'>
				AND EXISTS(
					SELECT 1 FROM SYS_USER_T U WHERE U.USER_ID=T.USER_ID
					AND (U.USER_CN LIKE CONCAT('%',TRIM(#{vo.keywordValue,jdbcType=VARCHAR}),'%')
					OR U.USER_EN LIKE CONCAT('%',TRIM(#{vo.keywordValue,jdbcType=VARCHAR}),'%'))
				)
			</if>
		</if>
	</select>
</mapper>