<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btsoft.jf.cloud.platform.security.mapper.IGroupMapper">
	<resultMap id="sqlResultMap" type="com.btsoft.jf.cloud.platform.security.entity.GroupEntity">
		<result column="APP_CODE" property="appCode"/>
		<result column="ENABLE_FLAG" property="enableFlag"/>
		<result column="CREATE_BY" property="createBy"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="LAST_UPDATE_BY" property="lastUpdateBy"/>
		<result column="LAST_UPDATE_DATE" property="lastUpdateDate"/>

		<result column="GROUP_ID" property="groupId"/>
		<result column="GROUP_CODE" property="groupCode"/>
		<result column="GROUP_NAME" property="groupName"/>
		<result column="GROUP_OWNER" property="groupOwner"/>
		<result column="GROUP_DESC" property="groupDesc"/>
		<result column="APPLY_STATUS" property="applyStatus"/>
	</resultMap>

	<sql id="base_sql">
		SELECT
			T.GROUP_ID,
			T.GROUP_CODE,
			T.GROUP_NAME,
			T.GROUP_OWNER,
			T.GROUP_DESC,
			T.APPLY_STATUS,
			T.APP_CODE,
			T.ENABLE_FLAG,
			T.CREATE_BY,
			T.CREATE_DATE,
			T.LAST_UPDATE_BY,
			T.LAST_UPDATE_DATE
		FROM SYS_GROUP_T T
	</sql>

	<sql id="base_condition">
		<trim prefix="WHERE" prefixOverrides="AND || OR">
		    T.APP_CODE=#{param.appCode,jdbcType=VARCHAR}
		    AND T.ENABLE_FLAG='Y'
            <if test='param.groupCode!=null and param.groupCode!=""'>
                AND T.GROUP_CODE LIKE CONCAT('%',TRIM(#{param.groupCode,jdbcType=VARCHAR}),'%')
            </if>
            <if test='param.groupName!=null and param.groupName!=""'>
                AND T.GROUP_NAME LIKE CONCAT('%',TRIM(#{param.groupName,jdbcType=VARCHAR}),'%')
            </if>
			<if test='param.groupDesc!=null and param.groupDesc!=""'>
				AND T.GROUP_DESC LIKE CONCAT('%',TRIM(#{param.groupDesc,jdbcType=VARCHAR}),'%')
			</if>
			<if test='param.applyStatus!=null and param.applyStatus!=""'>
				AND T.APPLY_STATUS = #{param.applyStatus,jdbcType=VARCHAR}
			</if>
			<if test='param.groupOwner!=null'>
				AND T.GROUP_OWNER = #{param.groupOwner,jdbcType=NUMERIC}
			</if>
		</trim>
	</sql>

	<insert id="createSingle">
		INSERT INTO SYS_GROUP_T (
			GROUP_CODE,
			GROUP_NAME,
			GROUP_DESC,
			GROUP_OWNER,
			APPLY_STATUS,
			APP_CODE,
			CREATE_BY,
			LAST_UPDATE_BY
		)VALUES(
			#{param.groupCode,jdbcType=VARCHAR},
			#{param.groupName,jdbcType=VARCHAR},
			#{param.groupDesc,jdbcType=VARCHAR},
			#{param.groupOwner,jdbcType=NUMERIC},
			#{param.applyStatus,jdbcType=VARCHAR},
			#{param.appCode,jdbcType=VARCHAR},
			#{param.currentUserId,jdbcType=NUMERIC},
			#{param.currentUserId,jdbcType=NUMERIC}
		)
	</insert>

	<delete id="deleteSingleById">
		DELETE FROM SYS_GROUP_T WHERE GROUP_ID=#{id,jdbcType=NUMERIC}
	</delete>

	<update id="updateSingle">
		UPDATE SYS_GROUP_T T SET
			T.GROUP_CODE=#{param.groupCode,jdbcType=VARCHAR},
			T.GROUP_NAME=#{param.groupName,jdbcType=VARCHAR},
			T.GROUP_DESC=#{param.groupDesc,jdbcType=VARCHAR},
			T.APPLY_STATUS=#{param.applyStatus,jdbcType=VARCHAR},
			T.GROUP_OWNER=#{param.groupOwner,jdbcType=NUMERIC},
			T.LAST_UPDATE_BY=#{param.currentUserId,jdbcType=NUMERIC},
			T.LAST_UPDATE_DATE=NOW()
		WHERE T.GROUP_ID=#{param.groupId,jdbcType=NUMERIC}
	</update>


    <select id="findSingleById" resultMap="sqlResultMap">
        <include refid="base_sql"/>
        WHERE T.GROUP_ID=#{id,jdbcType=NUMERIC}
		  AND T.ENABLE_FLAG='Y'
    </select>

	<select id="findList" resultMap="sqlResultMap">
		<include refid="base_sql"/>
		<include refid="base_condition"/>
	</select>

	<select id="findListByIds" resultMap="sqlResultMap">
		<include refid="base_sql"/>
		<if test='list!=null and list.size()>0'>
			<foreach collection="list" item="item" open="WHERE T.GROUP_ID IN(" close=")" separator=",">
				#{item,jdbcType=NUMERIC}
			</foreach>
		</if>
		<if test='list==null or list.size()==0'>
			AND 1=2
		</if>
	</select>
</mapper>