<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btsoft.jf.cloud.platform.security.mapper.IGroupRoleMapper">
	<resultMap id="sqlResultMap" type="com.btsoft.jf.cloud.platform.security.entity.GroupRoleEntity">
		<result column="ENABLE_FLAG" property="enableFlag"/>
		<result column="CREATE_BY" property="createBy"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="LAST_UPDATE_BY" property="lastUpdateBy"/>
		<result column="LAST_UPDATE_DATE" property="lastUpdateDate"/>

		<result column="ID" property="id"/>
		<result column="GROUP_ID" property="groupId"/>
		<result column="ROLE_ID" property="roleId"/>
	</resultMap>

	<sql id="base_sql">
		SELECT
			T.ID,
			T.GROUP_ID,
			T.ROLE_ID,
			T.ENABLE_FLAG,
			T.CREATE_BY,
			T.CREATE_DATE,
			T.LAST_UPDATE_BY,
			T.LAST_UPDATE_DATE
		FROM SYS_GROUP_ROLE_RT T
	</sql>

	<sql id="base_condition">
		<trim prefix="WHERE" prefixOverrides="AND || OR">
			T.ENABLE_FLAG='Y'
			<if test='param.groupId!=null'>
				AND T.GROUP_ID = #{param.groupId,jdbcType=NUMERIC}
			</if>
			<if test='param.roleId!=null'>
				AND T.ROLE_ID = #{param.roleId,jdbcType=NUMERIC}
			</if>
		</trim>
	</sql>

	<insert id="createSingle">
		REPLACE INTO SYS_GROUP_ROLE_RT (
			GROUP_ID,
			ROLE_ID,
			CREATE_BY,
			LAST_UPDATE_BY
		)VALUES(
			#{param.groupId,jdbcType=NUMERIC},
			#{param.roleId,jdbcType=NUMERIC},
			#{param.currentUserId,jdbcType=NUMERIC},
			#{param.currentUserId,jdbcType=NUMERIC}
		)
	</insert>

	<insert id="createMultiple">
		REPLACE INTO SYS_GROUP_ROLE_RT (
			GROUP_ID,
			ROLE_ID,
			CREATE_BY,
			LAST_UPDATE_BY
		)VALUES
		<foreach collection="param.list" item="item"  separator=",">
			(
				#{item.groupId,jdbcType=NUMERIC},
				#{item.roleId,jdbcType=NUMERIC},
				#{param.currentUserId,jdbcType=NUMERIC},
				#{param.currentUserId,jdbcType=NUMERIC}
			)
		</foreach>
	</insert>

	<delete id="deleteSingleById">
		DELETE FROM SYS_GROUP_ROLE_RT WHERE ID=#{id,jdbcType=NUMERIC}
	</delete>

	<select id="findList" resultMap="sqlResultMap">
		<include refid="base_sql"/>
		<include refid="base_condition"/>
	</select>

	<select id="findGroupRoleList" resultMap="sqlResultMap">
		<include refid="base_sql"/>
		<include refid="base_condition"/>
		<if test='param.keywordField!=null and param.keywordField!="" and
				param.keywordValue!=null and param.keywordValue!="" '>
			<if test='param.keywordField=="roleName" or param.keywordField=="roleCode" or param.keywordField=="roleDesc"'>
				AND EXISTS(
					SELECT 1 FROM SYS_ROLE_T R WHERE R.ROLE_ID=T.ROLE_ID
					<if test='param.keywordField=="roleName"'>
						AND R.ROLE_NAME
					</if>
					<if test='param.keywordField=="roleCode"'>
						AND R.ROLE_CODE
					</if>
					<if test='param.keywordField=="roleDesc"'>
						AND R.ROLE_DESC
					</if>
					LIKE CONCAT('%',TRIM(#{param.keywordValue,jdbcType=VARCHAR}),'%')
			</if>
			<if test='param.keywordField=="groupName" or param.keywordField=="groupCode" or param.keywordField=="groupDesc"'>
				AND EXISTS(
				SELECT 1 FROM SYS_GROUP_T G WHERE R.GROUP_ID=T.GROUP_ID
				<if test='param.keywordField=="groupName"'>
					AND G.GROUP_NAME
				</if>
				<if test='param.keywordField=="groupCode"'>
					AND G.GROUP_CODE
				</if>
				<if test='param.keywordField=="groupDesc"'>
					AND G.GROUP_DESC
				</if>
				LIKE CONCAT('%',TRIM(#{param.keywordValue,jdbcType=VARCHAR}),'%')
			</if>
			)
		</if>
	</select>

	<delete id="deleteByGroupId">
		DELETE FROM SYS_GROUP_ROLE_RT WHERE GROUP_ID=#{groupId,jdbcType=NUMERIC}
	</delete>

	<delete id="deleteByRoleId">
		DELETE FROM SYS_GROUP_ROLE_RT WHERE ROLE_ID=#{roleId,jdbcType=NUMERIC}
	</delete>
</mapper>