<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btsoft.jf.cloud.platform.security.mapper.IRoleMapper">
	<resultMap id="sqlResultMap" type="com.btsoft.jf.cloud.platform.security.entity.RoleEntity">
		<result column="app_code" property="appCode"/>
		<result column="enable_flag" property="enableFlag"/>
		<result column="create_by" property="createBy"/>
		<result column="creation_date" property="creationDate"/>
		<result column="last_update_by" property="lastUpdateBy"/>
		<result column="last_update_date" property="lastUpdateDate"/>

		<result column="role_id" property="roleId"/>
		<result column="role_code" property="roleCode"/>
		<result column="role_name" property="roleName"/>
		<result column="role_owner" property="roleOwner"/>
		<result column="role_desc" property="roleDesc"/>
		<result column="apply_status" property="applyStatus"/>
	</resultMap>

	<sql id="base_sql">
		SELECT
			T.ROLE_ID,
			T.ROLE_CODE,
			T.ROLE_NAME,
			T.ROLE_OWNER,
			T.ROLE_DESC,
			T.APPLY_STATUS,
			T.APP_CODE,
			T.ENABLE_FLAG,
			T.CREATE_BY,
			T.CREATE_DATE,
			T.LAST_UPDATE_BY,
			T.LAST_UPDATE_DATE
		FROM SYS_ROLE_T T
	</sql>

	<sql id="base_condition">
		<trim prefix="WHERE" prefixOverrides="AND || OR">
		    T.APP_CODE=#{vo.appCode,jdbcType=VARCHAR}
		    AND T.ENABLE_FLAG='Y'
            <if test='vo.roleCode!=null and vo.roleCode!=""'>
                AND T.ROLE_CODE LIKE CONCAT('%',TRIM(#{vo.roleCode,jdbcType=VARCHAR}),'%')
            </if>
            <if test='vo.roleName!=null and vo.roleName!=""'>
                AND T.ROLE_NAME LIKE CONCAT('%',TRIM(#{vo.roleName,jdbcType=VARCHAR}),'%')
            </if>
			<if test='vo.roleOwner!=null'>
				AND T.ROLE_OWNER = #{vo.roleOwner,jdbcType=NUMERIC}
			</if>
		</trim>
	</sql>

	<insert id="createSingle">
		INSERT INTO SYS_ROLE_T (
			ROLE_CODE,
			ROLE_NAME,
			ROLE_DESC,
			ROLE_OWNER,
			APPLY_STATUS,
			APP_CODE,
			CREATE_BY
		)VALUES(
			#{vo.roleCode,jdbcType=VARCHAR},
			#{vo.roleName,jdbcType=VARCHAR},
			#{vo.roleDesc,jdbcType=VARCHAR},
			#{vo.roleOwner,jdbcType=NUMERIC},
			#{vo.applyStatus,jdbcType=VARCHAR},
			#{vo.appCode,jdbcType=VARCHAR},
			#{vo.currentUserId,jdbcType=NUMERIC}
		)
	</insert>

	<delete id="deleteSingle">
		DELETE FROM SYS_ROLE_T WHERE ROLE_ID=#{vo.roleId,jdbcType=NUMERIC} AND APP_CODE=#{vo.appCode,jdbcType=VARCHAR}
	</delete>

	<update id="updateSingle">
		UPDATE SYS_ROLE_T T SET
			T.ROLE_CODE=#{vo.roleCode,jdbcType=VARCHAR},
			T.ROLE_NAME=#{vo.roleName,jdbcType=VARCHAR},
			T.ROLE_DESC=#{vo.roleDesc,jdbcType=VARCHAR},
			T.APPLY_STATUS=#{vo.applyStatus,jdbcType=VARCHAR},
			T.ROLE_OWNER=#{vo.roleOwner,jdbcType=NUMERIC},
			T.LAST_UPDATE_BY=#{vo.currentUserId,jdbcType=NUMERIC},
			T.LAST_UPDATE_DATE=now()
		WHERE T.ROLE_ID=#{vo.roleId,jdbcType=NUMERIC}
	</update>

    <select id="findSingle" resultMap="sqlResultMap">
        <include refid="base_sql"/>
        WHERE T.ROLE_ID=#{vo.roleId,jdbcType=NUMERIC}
		  AND T.ENABLE_FLAG='Y'
    </select>

	<select id="findList" resultMap="sqlResultMap">
		<include refid="base_sql"/>
		<include refid="base_condition"/>
	</select>
</mapper>