<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btsoft.jf.cloud.platform.security.mapper.IUserDetailMapper">
	<resultMap id="sqlResultMap" type="com.btsoft.jf.cloud.platform.security.entity.UserDetailEntity">
		<result column="enable_flag" property="enableFlag"/>
		<result column="create_by" property="createBy"/>
		<result column="create_date" property="createDate"/>
		<result column="last_update_by" property="lastUpdateBy"/>
		<result column="last_update_date" property="lastUpdateDate"/>

		<result column="user_id" property="userId"/>
		<result column="user_sex" property="userSex"/>
		<result column="user_photo" property="userPhoto"/>
	</resultMap>

	<sql id="base_sql">
		SELECT
			T.USER_ID,
			T.USER_SEX,
		    T.USER_PHOTO,
			T.ENABLE_FLAG,
			T.CREATE_BY,
			T.CREATE_DATE,
			T.LAST_UPDATE_BY,
			T.LAST_UPDATE_DATE
		FROM SYS_USER_DETAIL_T T
	</sql>

	<sql id="base_condition">
		<trim prefix="WHERE" prefixOverrides="AND || OR">
		    T.ENABLE_FLAG='Y'
		</trim>
	</sql>

	<insert id="createSingle">
		INSERT INTO SYS_USER_DETAIL_T (
			USER_ID,
		    USER_SEX,
		    USER_PHOTO,
			CREATE_BY,
			LAST_UPDATE_BY
		)VALUES(
			#{vo.userId,jdbcType=NUMERIC},
			#{vo.userSex,jdbcType=VARCHAR},
			#{vo.userPhoto,jdbcType=VARCHAR},
			#{vo.currentUserId,jdbcType=NUMERIC},
			#{vo.currentUserId,jdbcType=NUMERIC}
		)
	</insert>

	<select id="findListByIds" resultMap="sqlResultMap">
		<include refid="base_sql"/>
		<if test="list!=null and list.size()>0">
			<foreach collection="list" item="item" open="WHERE T.USER_ID IN(" close=")" separator=",">
				#{item,jdbcType=NUMERIC}
			</foreach>
		</if>
		<if test="list==null or list.isEmpty()">
			WHERE 1=2
		</if>
	</select>

</mapper>