<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btsoft.jf.cloud.platform.security.mapper.IUserMapper">
	<resultMap id="sqlResultMap" type="com.btsoft.jf.cloud.platform.security.entity.UserEntity">
		<result column="enable_flag" property="enableFlag"/>
		<result column="create_by" property="createBy"/>
		<result column="create_date" property="createDate"/>
		<result column="last_update_by" property="lastUpdateBy"/>
		<result column="last_update_date" property="lastUpdateDate"/>

		<result column="user_id" property="userId"/>
		<result column="user_no" property="userNo"/>
		<result column="user_cn" property="userCn"/>
		<result column="user_en" property="userEn"/>
		<result column="password" property="password"/>
		<result column="mobile" property="mobile"/>
		<result column="mobile_validated" property="mobileValidated"/>
		<result column="email" property="email"/>
		<result column="email_validated" property="emailValidated"/>
		<result column="user_type" property="userType"/>
		<result column="user_status" property="userStatus"/>
		<result column="password_update_time" property="passwordUpdateTime"/>
		<result column="password_error_num" property="passwordErrorNum"/>
		<result column="lock_time" property="lockTime"/>
		<result column="user_sex" property="userSex"/>
		<result column="user_photo" property="userPhoto"/>
	</resultMap>

	<sql id="base_sql">
		SELECT
			T.USER_ID,
			T.USER_NO,
		    T.USER_CN,
		    T.USER_EN,
			T.MOBILE,
			T.MOBILE_VALIDATED,
			T.EMAIL,
		    T.EMAIL_VALIDATED,
			T.USER_TYPE,
		    T.USER_STATUS,
		    T.PASSWORD_UPDATE_TIME,
		    T.PASSWORD_ERROR_NUM,
		    T.LOCK_TIME,
			T.USER_SEX,
			T.USER_PHOTO,
			T.ENABLE_FLAG,
			T.CREATE_BY,
			T.CREATE_DATE,
			T.LAST_UPDATE_BY,
			T.LAST_UPDATE_DATE
		FROM SYS_USER_T T
	</sql>

	<sql id="base_condition">
		<trim prefix="WHERE" prefixOverrides="AND || OR">
		    T.ENABLE_FLAG='Y'
            <if test='vo.userNo!=null and vo.userNo!=""'>
                AND T.USER_NO LIKE CONCAT('%',TRIM(#{vo.userNo,jdbcType=VARCHAR}),'%')
            </if>
			<if test='vo.userCn!=null and vo.userCn!=""'>
				AND T.USER_CN LIKE CONCAT('%',TRIM(#{vo.userCn,jdbcType=VARCHAR}),'%')
			</if>
			<if test='vo.userEn!=null and vo.userEn!=""'>
				AND T.USER_EN LIKE CONCAT('%',TRIM(#{vo.userEn,jdbcType=VARCHAR}),'%')
			</if>
            <if test='vo.mobile!=null and vo.mobile!=""'>
                AND T.MOBILE LIKE CONCAT('%',TRIM(#{vo.mobile,jdbcType=VARCHAR}),'%')
            </if>
			<if test='vo.email!=null and vo.email!=""'>
				AND T.EMAIL LIKE CONCAT('%',TRIM(#{vo.email,jdbcType=VARCHAR}),'%')
			</if>
			<if test='vo.userType!=null and vo.userType!=""'>
				AND T.USER_TYPE=#{vo.userType,jdbcType=VARCHAR}
			</if>
			<if test='vo.userSex!=null and vo.userSex!=""'>
				AND T.USER_SEX=#{vo.userSex,jdbcType=VARCHAR}
			</if>
			<if test='vo.userStatus!=null and vo.userStatus!=""'>
				AND T.USER_STATUS=#{vo.userStatus,jdbcType=VARCHAR}
			</if>
			<if test='vo.mobileValidated!=null and vo.mobileValidated!=""'>
				AND T.MOBILE_VALIDATED=#{vo.mobileValidated,jdbcType=VARCHAR}
			</if>
			<if test='vo.emailValidated!=null and vo.emailValidated!=""'>
				AND T.EMAIL_VALIDATED=#{vo.emailValidated,jdbcType=VARCHAR}
			</if>
		</trim>
	</sql>

	<insert id="createSingle" useGeneratedKeys="true" keyProperty="userId" parameterType="com.btsoft.jf.cloud.platform.security.entity.UserEntity">
		INSERT INTO SYS_USER_T (
			USER_NO,
		    USER_CN,
		    USER_EN,
			MOBILE,
			EMAIL,
		    PASSWORD,
			USER_TYPE,
			USER_SEX,
			CREATE_BY,
			LAST_UPDATE_BY
		)VALUES(
			#{vo.userNo,jdbcType=VARCHAR},
			#{vo.userCn,jdbcType=VARCHAR},
			#{vo.userEn,jdbcType=VARCHAR},
			#{vo.mobile,jdbcType=VARCHAR},
			#{vo.email,jdbcType=VARCHAR},
			#{vo.password,jdbcType=VARCHAR},
			#{vo.userType,jdbcType=VARCHAR},
			#{vo.userSex,jdbcType=VARCHAR},
			#{vo.currentUserId,jdbcType=NUMERIC},
			#{vo.currentUserId,jdbcType=NUMERIC}
		)
	</insert>

    <select id="findSingleById" resultMap="sqlResultMap">
        <include refid="base_sql"/>
        WHERE T.USER_ID=#{id,jdbcType=NUMERIC}
		  AND T.ENABLE_FLAG='Y'
    </select>

	<select id="findList" resultMap="sqlResultMap">
		<include refid="base_sql"/>
		<include refid="base_condition"/>
	</select>

	<select id="findUserCountByUserCn" resultType="int">
		SELECT COUNT(1) FROM SYS_USER_T T WHERE T.USER_CN=#{userCn,jdbcType=VARCHAR}
	</select>

	<select id="findListByIds" resultMap="sqlResultMap">
		<include refid="base_sql"/>
		<if test="list!=null and list.size()>0">
			<foreach collection="list" item="item" open="WHERE T.USER_ID IN(" close=")" separator=",">
				#{item,jdbcType=NUMERIC}
			</foreach>
		</if>
		<if test="list==null or list.isEmpty()">
			WHERE 1=2
		</if>
	</select>

	<update id="updateUserBaseInfo">
		UPDATE SYS_USER_T T SET
			T.USER_CN=#{vo.userCn,jdbcType=VARCHAR},
			T.USER_EN=#{vo.userEn,jdbcType=VARCHAR},
			T.USER_SEX=#{vo.userSex,jdbcType=VARCHAR},
			T.MOBILE=IF(T.MOBILE_VALIDATED='Y',T.MOBILE,#{vo.mobile,jdbcType=VARCHAR}),
			T.EMAIL=IF(T.EMAIL_VALIDATED='Y',T.EMAIL,#{vo.email,jdbcType=VARCHAR}),
			T.LAST_UPDATE_BY=#{vo.currentUserId,jdbcType=NUMERIC},
			T.LAST_UPDATE_DATE=NOW()
		WHERE T.USER_ID=#{vo.userId,jdbcType=NUMERIC}
	</update>

	<update id="updateUserStatus">
		UPDATE SYS_USER_T T SET
			T.USER_STATUS=#{vo.userStatus,jdbcType=VARCHAR},
			T.LAST_UPDATE_BY=#{vo.currentUserId,jdbcType=NUMERIC},
			<if test="vo.userStatus==@com.btsoft.jf.cloud.platform.security.enums.UserStatusEnum@L.getKey">
				T.LOCK_TIME=NOW(),
			</if>
			<if test="vo.userStatus!=@com.btsoft.jf.cloud.platform.security.enums.UserStatusEnum@L.getKey">
				T.LOCK_TIME=NULL,
			</if>
			T.LAST_UPDATE_DATE=NOW()
		WHERE T.USER_ID=#{vo.userId,jdbcType=NUMERIC}
		<if test="vo.userStatus==@com.btsoft.jf.cloud.platform.security.enums.UserStatusEnum@Y.getKey">
			AND T.USER_STATUS IN('L','D')
		</if>
		<if test="vo.userStatus==@com.btsoft.jf.cloud.platform.security.enums.UserStatusEnum@L.getKey">
			AND T.USER_STATUS='Y'
		</if>
		<if test="vo.userStatus==@com.btsoft.jf.cloud.platform.security.enums.UserStatusEnum@D.getKey">
			AND T.USER_STATUS IN('L','Y')
		</if>
	</update>

	<select id="validUserMobile" resultType="int">
		SELECT COUNT(1) FROM SYS_USER_T T WHERE T.MOBILE=#{vo.mobile,jdbcType=VARCHAR}
		<if test="vo.userId!=null">
			AND T.USER_ID!=#{vo.userId,jdbcType=NUMERIC}
		</if>
	</select>

	<select id="validUserEmail" resultType="int">
		SELECT COUNT(1) FROM SYS_USER_T T WHERE T.EMAIL=#{vo.email,jdbcType=VARCHAR}
		<if test="vo.userId!=null">
			AND T.USER_ID!=#{vo.userId,jdbcType=NUMERIC}
		</if>
	</select>

	<select id="findValidUser" resultMap="sqlResultMap">
		SELECT
			T.USER_ID,
			T.USER_NO,
			T.PASSWORD,
			T.USER_CN,
			T.USER_EN,
			T.MOBILE,
			T.MOBILE_VALIDATED,
			T.EMAIL,
			T.EMAIL_VALIDATED,
			T.USER_TYPE,
			T.USER_STATUS,
			T.PASSWORD_UPDATE_TIME,
			T.PASSWORD_ERROR_NUM,
			T.LOCK_TIME,
			T.USER_SEX
		FROM SYS_USER_T T
		WHERE T.ENABLE_FLAG='Y'
		AND (T.USER_NO=#{userAccount,jdbcType=VARCHAR} OR
		     T.MOBILE=#{userAccount,jdbcType=VARCHAR} OR
		     T.EMAIL=#{userAccount,jdbcType=VARCHAR}
		)
		LIMIT 1
	</select>

	<update id="updateErrorNumAndStatus">
		UPDATE SYS_USER_T T SET
			T.PASSWORD_ERROR_NUM=#{vo.passwordErrorNum,jdbcType=NUMERIC},
		    T.USER_STATUS=#{vo.userStatus,jdbcType=VARCHAR},
		    T.LOCK_TIME=#{vo.lockTime}
		WHERE T.USER_ID=#{vo.userId,jdbcType=NUMERIC}
	</update>

	<select id="findSelectUserList" resultMap="sqlResultMap">
		SELECT
			T.USER_ID,
			T.USER_NO,
			T.USER_CN,
			T.USER_EN,
			T.MOBILE,
			T.EMAIL,
			T.USER_TYPE,
			T.USER_STATUS,
			T.USER_SEX,
			T.USER_PHOTO
		FROM SYS_USER_T T
		WHERE T.ENABLE_FLAG='Y'
		<if test='vo.userType!=null and vo.userType!=""'>
			AND T.USER_TYPE=#{vo.userType,jdbcType=VARCHAR}
		</if>
		<if test='vo.userStatus!=null and vo.userStatus!=""'>
			AND T.USER_STATUS=#{vo.userStatus,jdbcType=VARCHAR}
		</if>
		<if test='vo.userSex!=null and vo.userSex!=""'>
			AND T.USER_SEX=#{vo.userSex,jdbcType=VARCHAR}
		</if>
		<if test='vo.keyword!=null and vo.keyword!=""'>
			AND (T.USER_CN LIKE CONCAT('%',TRIM(#{vo.keyword,jdbcType=VARCHAR}),'%')
			  OR T.USER_EN LIKE CONCAT('%',TRIM(#{vo.keyword,jdbcType=VARCHAR}),'%')
			  OR T.USER_NO LIKE CONCAT('%',TRIM(#{vo.keyword,jdbcType=VARCHAR}),'%')
			)
		</if>
		LIMIT 50
	</select>
</mapper>