<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btsoft.jf.cloud.platform.config.basic.mapper.IOrganizationMapper">
	<resultMap id="sqlResultMap"  type="com.btsoft.jf.cloud.platform.config.basic.entity.OrganizationEntity">
		<result column="ENABLE_FLAG" property="enableFlag"/>
		<result column="CREATE_BY" property="createBy"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="LAST_UPDATE_BY" property="lastUpdateBy"/>
		<result column="LAST_UPDATE_DATE" property="lastUpdateDate"/>

		<result column="ORG_ID" property="orgId"/>
		<result column="ORG_CN" property="orgCn"/>
		<result column="ORG_EN" property="orgEn"/>
		<result column="ORG_TYPE" property="orgType"/>
		<result column="PARENT_ID" property="parentId"/>
		<result column="ORG_DESC" property="orgDesc"/>
	</resultMap>

	<sql id="base_sql">
		SELECT
			T.ORG_ID,
			T.ORG_CN,
			T.ORG_EN,
		    T.ORG_TYPE,
			T.PARENT_ID,
		    T.ORG_DESC,
			T.ENABLE_FLAG,
			T.CREATE_BY,
			T.CREATE_DATE,
			T.LAST_UPDATE_BY,
			T.LAST_UPDATE_DATE
		FROM BASIC_ORGANIZATION_T T
	</sql>

	<sql id="base_condition">
		<trim prefix="WHERE" prefixOverrides="AND || OR">
			T.ENABLE_FLAG='Y'
		</trim>
	</sql>

	<insert id="createSingle">
		INSERT INTO BASIC_ORGANIZATION_T (
			ORG_CN,
			ORG_EN,
		    ORG_TYPE,
			PARENT_ID,
			ORG_DESC,
			CREATE_BY,
			LAST_UPDATE_BY
		)VALUES(
			#{param.orgCn,jdbcType=VARCHAR},
			#{param.orgEn,jdbcType=VARCHAR},
			#{param.orgType,jdbcType=NUMERIC},
			IFNULL(#{param.parentId,jdbcType=NUMERIC},0),
			#{param.orgDesc,jdbcType=VARCHAR},
			#{param.currentUserId,jdbcType=NUMERIC},
			#{param.currentUserId,jdbcType=NUMERIC}
		)
	</insert>

    <select id="findSingleById" resultMap="sqlResultMap">
        <include refid="base_sql"/>
        WHERE T.ORG_ID=#{id,jdbcType=NUMERIC}
		  AND T.ENABLE_FLAG='Y'
    </select>

	<delete id="deleteSingleById">
		DELETE FROM BASIC_ORGANIZATION_T WHERE ORG_ID=#{id,jdbcType=NUMERIC}
	</delete>

	<update id="updateSingle">
		UPDATE BASIC_ORGANIZATION_T T SET
			T.ORG_CN=#{param.orgCn,jdbcType=VARCHAR},
			T.ORG_EN=#{param.orgEn,jdbcType=VARCHAR},
			T.ORG_TYPE=#{param.orgType,jdbcType=NUMERIC},
		    T.PARENT_ID=IFNULL(#{param.parentId,jdbcType=NUMERIC},0),
			T.ORG_DESC=#{param.orgDesc,jdbcType=VARCHAR},
			T.LAST_UPDATE_BY=#{param.currentUserId,jdbcType=NUMERIC},
			T.LAST_UPDATE_DATE=NOW()
		WHERE T.ORG_ID=#{param.orgId,jdbcType=NUMERIC}
	</update>

	<select id="findList" resultMap="sqlResultMap">
		<include refid="base_sql"/>
		<include refid="base_condition"/>
	</select>

	<select id="findListByIds" resultMap="sqlResultMap">
		<include refid="base_sql"/>
		<if test='list!=null and list.size()>0'>
			<foreach collection="list" item="item" open="WHERE T.ORG_ID IN(" close=")" separator=",">
				#{item,jdbcType=NUMERIC}
			</foreach>
		</if>
		<if test='list==null or list.size()==0'>
			AND 1=2
		</if>
	</select>
</mapper>