<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btsoft.jf.cloud.platform.config.basic.mapper.IPostMapper">
	<resultMap id="sqlResultMap"  type="com.btsoft.jf.cloud.platform.config.basic.entity.PostEntity">
		<result column="ENABLE_FLAG" property="enableFlag"/>
		<result column="CREATE_BY" property="createBy"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="LAST_UPDATE_BY" property="lastUpdateBy"/>
		<result column="LAST_UPDATE_DATE" property="lastUpdateDate"/>

		<result column="POST_ID" property="postId"/>
		<result column="POST_CN" property="postCn"/>
		<result column="POST_EN" property="postEn"/>
		<result column="POST_DESC" property="postDesc"/>
		<result column="POST_LEVEL" property="postLevel"/>
	</resultMap>

	<sql id="base_sql">
		SELECT
			T.POST_ID,
			T.POST_CN,
			T.POST_EN,
			T.POST_DESC,
		    T.POST_LEVEL,
			T.ENABLE_FLAG,
			T.CREATE_BY,
			T.CREATE_DATE,
			T.LAST_UPDATE_BY,
			T.LAST_UPDATE_DATE
		FROM BASIC_POST_T T
	</sql>

	<sql id="base_condition">
		<trim prefix="WHERE" prefixOverrides="AND || OR">
			T.ENABLE_FLAG='Y'
            <if test='param.postCn!=null and param.postCn!=""'>
                AND T.POST_CN LIKE CONCAT('%',TRIM(#{param.postCn,jdbcType=VARCHAR}),'%')
            </if>
            <if test='param.postEn!=null and param.postEn!=""'>
                AND T.POST_EN LIKE CONCAT('%',TRIM(#{param.postEn,jdbcType=VARCHAR}),'%')
            </if>
			<if test='param.postDesc!=null and param.postDesc!=""'>
				AND T.POST_DESC LIKE CONCAT('%',TRIM(#{param.postDesc,jdbcType=VARCHAR}),'%')
			</if>
		</trim>
	</sql>

	<insert id="createSingle">
		INSERT INTO BASIC_POST_T (
			POST_CN,
			POST_EN,
			POST_DESC,
			POST_LEVEL,
			CREATE_BY,
			LAST_UPDATE_BY
		)VALUES(
			#{param.postCn,jdbcType=VARCHAR},
			#{param.postEn,jdbcType=VARCHAR},
			#{param.postDesc,jdbcType=NUMERIC},
			#{param.postLevel,jdbcType=NUMERIC},
			#{param.currentUserId,jdbcType=NUMERIC},
			#{param.currentUserId,jdbcType=NUMERIC}
		)
	</insert>

    <select id="findSingleById" resultMap="sqlResultMap">
        <include refid="base_sql"/>
        WHERE T.POST_ID=#{id,jdbcType=NUMERIC}
		  AND T.ENABLE_FLAG='Y'
    </select>

	<delete id="deleteSingleById">
		DELETE FROM BASIC_POST_T WHERE POST_ID=#{id,jdbcType=NUMERIC}
	</delete>

	<update id="updateSingle">
		UPDATE BASIC_POST_T T SET
			T.POST_CN=#{param.postCn,jdbcType=VARCHAR},
			T.POST_EN=#{param.posten,jdbcType=VARCHAR},
			T.POST_DESC=#{param.postDesc,jdbcType=VARCHAR},
			T.POST_LEVEL=#{param.postLevel,jdbcType=NUMERIC},
			T.LAST_UPDATE_BY=#{param.currentUserId,jdbcType=NUMERIC},
			T.LAST_UPDATE_DATE=NOW()
		WHERE T.POST_ID=#{param.postId,jdbcType=NUMERIC}
	</update>

	<select id="findList" resultMap="sqlResultMap">
		<include refid="base_sql"/>
		<include refid="base_condition"/>
	</select>

	<select id="findListByIds" resultMap="sqlResultMap">
		<include refid="base_sql"/>
		<if test='list!=null and list.size()>0'>
			<foreach collection="list" item="item" open="WHERE T.POST_ID IN(" close=")" separator=",">
				#{item,jdbcType=NUMERIC}
			</foreach>
		</if>
		<if test='list==null or list.size()==0'>
			AND 1=2
		</if>
	</select>
</mapper>