<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btsoft.jf.cloud.platform.config.basic.mapper.IPostMapper">
	<resultMap id="sqlResultMap"  type="com.btsoft.jf.cloud.platform.config.basic.entity.PostEntity">
		<result column="ENABLE_FLAG" property="enableFlag"/>
		<result column="CREATE_BY" property="createBy"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="LAST_UPDATE_BY" property="lastUpdateBy"/>
		<result column="LAST_UPDATE_DATE" property="lastUpdateDate"/>

		<result column="JOB_ID" property="jobId"/>
		<result column="JOB_CN" property="jobCn"/>
		<result column="JOB_EN" property="jobEn"/>
		<result column="JOB_DESC" property="jobDesc"/>
	</resultMap>

	<sql id="base_sql">
		SELECT
			T.JOB_ID,
			T.JOB_CN,
			T.JOB_EN,
			T.JOB_DESC,
			T.ENABLE_FLAG,
			T.CREATE_BY,
			T.CREATE_DATE,
			T.LAST_UPDATE_BY,
			T.LAST_UPDATE_DATE
		FROM SYS_EMPLOYEE_JOB_T T
	</sql>

	<sql id="base_condition">
		<trim prefix="WHERE" prefixOverrides="AND || OR">
			T.ENABLE_FLAG='Y'
            <if test='param.jobCn!=null and param.jobCn!=""'>
                AND T.JOB_CN LIKE CONCAT('%',TRIM(#{param.jobCn,jdbcType=VARCHAR}),'%')
            </if>
            <if test='param.jobEn!=null and param.jobEn!=""'>
                AND T.JOB_EN LIKE CONCAT('%',TRIM(#{param.jobEn,jdbcType=VARCHAR}),'%')
            </if>
			<if test='param.jobDesc!=null and param.jobDesc!=""'>
				AND T.JOB_DESC LIKE CONCAT('%',TRIM(#{param.jobDesc,jdbcType=VARCHAR}),'%')
			</if>
		</trim>
	</sql>

	<insert id="createSingle">
		INSERT INTO SYS_EMPLOYEE_JOB_T (
			JOB_CN,
			JOB_EN,
			JOB_DESC,
			CREATE_BY,
			LAST_UPDATE_BY
		)VALUES(
			#{param.jobCn,jdbcType=VARCHAR},
			#{param.jobEn,jdbcType=VARCHAR},
			#{param.jobDesc,jdbcType=NUMERIC},
			#{param.currentUserId,jdbcType=NUMERIC},
			#{param.currentUserId,jdbcType=NUMERIC}
		)
	</insert>

    <select id="findSingleById" resultMap="sqlResultMap">
        <include refid="base_sql"/>
        WHERE T.JOB_ID=#{id,jdbcType=NUMERIC}
		  AND T.ENABLE_FLAG='Y'
    </select>

	<delete id="deleteSingleById">
		DELETE FROM SYS_EMPLOYEE_JOB_T WHERE JOB_ID=#{id,jdbcType=NUMERIC}
	</delete>

	<update id="updateSingle">
		UPDATE SYS_EMPLOYEE_JOB_T T SET
			T.JOB_CN=#{param.jobCn,jdbcType=VARCHAR},
			T.JOB_EN=#{param.jobEn,jdbcType=VARCHAR},
			T.JOB_DESC=#{param.jobDesc,jdbcType=VARCHAR},
			T.LAST_UPDATE_BY=#{param.currentUserId,jdbcType=NUMERIC},
			T.LAST_UPDATE_DATE=NOW()
		WHERE T.JOB_ID=#{param.jobId,jdbcType=NUMERIC}
	</update>

	<select id="findList" resultMap="sqlResultMap">
		<include refid="base_sql"/>
		<include refid="base_condition"/>
	</select>

	<select id="findListByIds" resultMap="sqlResultMap">
		<include refid="base_sql"/>
		<if test='list!=null and list.size()>0'>
			<foreach collection="list" item="item" open="WHERE T.JOB_ID IN(" close=")" separator=",">
				#{item,jdbcType=NUMERIC}
			</foreach>
		</if>
		<if test='list==null or list.size()==0'>
			AND 1=2
		</if>
	</select>
</mapper>