.jf-drawer-footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #e8e8e8;
    padding: 10px 16px;
    text-align: right;
    background: #fff;
}
.jf-detail-form{
    background-color: #fff;
    padding: 24px 12px 12px 12px;
}
.jf-detail-form .ivu-form-item-label{
    font-weight: bold;
}
.jf-detail-form input{
    border:none;
    background-color: #edf3f6;
    box-shadow: none;
}
.jf-detail-form input:focus{
    box-shadow: none;
}
.jf-detail-form .ivu-form-item-content{
    background-color: #eff4f7;
    padding: 0 10px;
    border-radius: 4px;
    min-height: 32px;
}
.jf-form-detail-desc .ivu-form-item-content{
    min-height: 80px;
}