<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btsoft.jf.cloud.monitor.mapper.IAuditLogMapper">
	<resultMap id="sqlResultMap" type="com.btsoft.jf.cloud.monitor.entity.AuditLogEntity">
		<result column="app_code" property="appCode" />
		<result column="log_id" property="logId" />
		<result column="log_time" property="logTime" />
		<result column="user_id" property="userId" />
		<result column="log_ip" property="logIp" />
		<result column="log_module" property="logModule" />
		<result column="log_method" property="logMethod" />
		<result column="log_message" property="logMessage" />
		<result column="log_start_time" property="logStartTime" />
		<result column="log_end_time" property="logEndTime" />
		<result column="log_cost" property="logCost" />
		<result column="log_type" property="logType" />
	</resultMap>

	<sql id="base_sql">
		SELECT
			LOG_ID,
			LOG_TIME,
			USER_ID,
			LOG_IP,
			LOG_MODULE,
			LOG_METHOD,
			LOG_MESSAGE,
			LOG_START_TIME,
			LOG_END_TIME,
			LOG_COST,
			LOG_TYPE,
			APP_CODE
		FROM SYS_AUDIT_LOG_T T
	</sql>

	<sql id="base_condition">
		<trim prefix="where" prefixOverrides="and || or">
			AND T.APP_CODE=#{param.appCode,jdbcType=VARCHAR}
			<if test='param.logModule!=null and param.logModule!=""'>
				AND T.LOG_MODULE=#{param.logModule,jdbcType=VARCHAR}
			</if>
			<if test='param.logMessage!=null and param.logMessage!=""'>
				AND T.LOG_MESSAGE LIKE CONCAT('%',TRIM(#{param.logMessage,jdbcType=VARCHAR}),'%')
			</if>
			<if test='param.logMethod!=null and param.logMethod!=""'>
				AND T.LOG_METHOD LIKE CONCAT('%',TRIM(#{param.logMethod,jdbcType=VARCHAR}),'%')
			</if>
			<if test='param.logIp!=null and param.logIp!=""'>
				AND T.LOG_IP LIKE CONCAT('%',TRIM(#{param.logIp,jdbcType=VARCHAR}),'%')
			</if>
			<if test='param.logType!=null and param.logType!=""'>
				AND T.LOG_TYPE = #{param.logType,jdbcType=VARCHAR}
			</if>
			<if test='param.userId!=null'>
				AND T.USER_ID = #{param.userId,jdbcType=NUMERIC}
			</if>
			<if test='param.logTime!=null and !param.logTime.isEmpty()'>
				AND T.LOG_TIME BETWEEN #{param.logTime[0]} AND #{param.logTime[1]}
			</if>
			<if test='param.logStartTime!=null and !param.logStartTime.isEmpty()'>
				AND T.LOG_START_TIME BETWEEN #{param.logStartTime[0]} AND #{param.logStartTime[1]}
			</if>
			<if test='param.logEndTime!=null and !param.logEndTime.isEmpty()'>
				AND T.LOG_END_TIME BETWEEN #{param.logEndTime[0]} AND #{param.logEndTime[1]}
			</if>
		</trim>
	</sql>

	<insert id="createSingle">
		INSERT INTO SYS_AUDIT_LOG_T (
			LOG_TIME,
			USER_ID,
			LOG_IP,
			LOG_MODULE,
			LOG_METHOD,
			LOG_MESSAGE,
			LOG_START_TIME,
			LOG_END_TIME,
			LOG_COST,
			LOG_TYPE,
			APP_CODE
		)VALUES(
			#{param.logTime},
			#{param.userId,jdbcType=NUMERIC},
			#{param.logIp,jdbcType=VARCHAR},
			#{param.logModule,jdbcType=VARCHAR},
			#{param.logMethod,jdbcType=VARCHAR},
			#{param.logMessage,jdbcType=VARCHAR},
			#{param.logStartTime},
			#{param.logEndTime},
			#{param.logCost,jdbcType=NUMERIC},
			#{param.logType,jdbcType=VARCHAR},
			#{param.appCode,jdbcType=VARCHAR}
		)
	</insert>

	<select id="findAuditLogPage" resultMap="sqlResultMap">
		<include refid="base_sql"/>
		<include refid="base_condition"/>
		ORDER BY T.LOG_TIME DESC
	</select>
</mapper>